
[Unit]
Description=Bluetooth Device Presence Reader
After=syslog.target network.target

[Service]
ExecStart=/usr/bin/python2 /root/graphics/deviceread.py
Restart=on-abort

[Install]
WantedBy=multi-user.target


